[gcode_macro INPUT_SHAPING]
description: Run Resonance Measuring and calibration on the X axis
gcode:
    G28
    SHAPER_CALIBRATE AXIS=X

[gcode_macro START_PRINT]
gcode:
  ; Get first-layer bed-temp from slicer
  {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
  ; Get first-layer extruder-temp from slicer
  {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
  M104 S170 ; Set bed leveling temp (hotend)
  M140 S{BED_TEMP} ; Set for bed leveling temp (bed)
  G28 ; home all axis
  G90 ;Absolute positioning
  G1 X0 Y200 F6000 ;Present print
  M190 S{BED_TEMP} ; wait for bed temp
  ; mesh bed
  BED_MESH_CLEAR
  BED_MESH_CALIBRATE
  M104 S{EXTRUDER_TEMP}; set extruder temp
  G90
  G1 X2 Y10 Z50 F3000
  M109 S{EXTRUDER_TEMP} ; wait for extruder temp
  LINE_PURGE ; purge nozzle

[gcode_macro PRINT_STOP]
gcode:
  G91 ;Relative positioning
  G1 E-2 F2700 ;Retract a bit
  G1 E-2 Z0.2 F2400 ;Retract and raise Z
  G1 Z5 ;Raise Z more
  G28 X Y
  G90 ;Absolute positioning
  G1 X0 Y200 F6000 ;Present print
  M106 S0 ;Turn-off fan
  M104 S0 ;Turn-off hotend
  M140 S0 ;Turn-off bed

[gcode_macro CHANGE_FILAMENT]
gcode:
	{% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(210)|float %}
	RESPOND TYPE=command MSG="action:prompt_begin Change Filament"
    RESPOND TYPE=command MSG="action:prompt_text  Would you like to Load or Unload the Filament?"
    RESPOND TYPE=command MSG="action:prompt_button_group_start"
    RESPOND TYPE=command MSG="action:prompt_button Load|LOAD_FILAMENT TEMP={EXTRUDER_TEMP}|primary"
    RESPOND TYPE=command MSG="action:prompt_button Unload|UNLOAD_FILAMENT TEMP={EXTRUDER_TEMP}|primary"
    RESPOND TYPE=command MSG="action:prompt_button Switch|SWITCH_FILAMENT TEMP={EXTRUDER_TEMP}|secondary"
    RESPOND TYPE=command MSG="action:prompt_button_group_end"
    RESPOND TYPE=command MSG="action:prompt_show"

[gcode_macro LOAD_FILAMENT]
gcode:
	RESPOND TYPE=command MSG="action:prompt_end"
	{% set EXTRUDER_TEMP = params.TEMP|default(210)|float %}
	G28
    G91
    M104 S{EXTRUDER_TEMP}
    G1 Y0 Z100 F3000
    M109 S{EXTRUDER_TEMP}
    G1 E600 F10000
    G1 E80 F3000
    M106 S100
    G4 P10000 ; Wait 10 Seconds
    G1 E-5 F3000
    M107
    M104 S0 ;Turn-off hotend

[gcode_macro UNLOAD_FILAMENT]
gcode:
	RESPOND TYPE=command MSG="action:prompt_end"
	{% set EXTRUDER_TEMP = params.TEMP|default(210)|float %}
	G28
    G91
    M104 S{EXTRUDER_TEMP}
    G1 Y0 Z100 F3000
    M109 S{EXTRUDER_TEMP}
    G1 E-80 F3000
    G1 E-600 F10000
    M104 S0 ;Turn-off hotend

[gcode_macro SWITCH_FILAMENT]
gcode:
	RESPOND TYPE=command MSG="action:prompt_end"
	{% set EXTRUDER_TEMP = params.TEMP|default(210)|float %}
	G28
    G91
    M104 S{EXTRUDER_TEMP}
    G1 Y0 Z100 F3000
    M109 S{EXTRUDER_TEMP}

    ;UNLOAD FILAMENT
    G1 E-80 F3000
    G1 E-600 F10000

    ; ALERT FOR SWITCH
    SET_PIN PIN=beeper VALUE=1.00
    G4 P500
    SET_PIN PIN=beeper VALUE=0.00
    G4 P500
    SET_PIN PIN=beeper VALUE=1.00
    G4 P500
    SET_PIN PIN=beeper VALUE=0.00
    G4 P20000 ; Wait 20 seconds to Exchange Filament
    SET_PIN PIN=beeper VALUE=1.00
    G4 P500
    SET_PIN PIN=beeper VALUE=0.00
    G4 P333
    SET_PIN PIN=beeper VALUE=1.00
    G4 P500
    SET_PIN PIN=beeper VALUE=0.00
    G4 P333
    SET_PIN PIN=beeper VALUE=1.00
    G4 P500
    SET_PIN PIN=beeper VALUE=0.00
    
    ;LOAD FILAMENT
    G1 E-80 F3000
    G1 E-600 F10000
    M104 S0 ;Turn-off hotend
    
